.loader {
   font-family: 'ZCOOL KuaiLe', cursive;
   font-size: 40px;
   color: palevioletred;
}

.loader::after {
   content: '\2026';
   display: inline-block;
   overflow: hidden;
   vertical-align: bottom;
   animation: dots steps(4, end) 2s infinite;
}

@keyframes dots {
   to {
      width: 0;
   }
}