body {
    background: #333;
}

.box {
    background: white;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    top: 200px;
    /*    transition-property: background, border-radius, transform;*/
    transition-property: all;
    transition-duration: 2s;
    /*    transition-delay: 2s;*/
    transition-timing-function: linear;
}

.box:hover {
    background: red;
    border-radius: 50%;
    transform: rotateY(180deg);
}
