body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    background: url('../images/page-bg.png') no-repeat center center/cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animated {
    font-family: 'Charm', cursive;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    background: url('../images/text-bg.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 90s linear infinite;
    -webkit-animation: moveBg 90s linear infinite;
}

/* Text Background Animation */
@keyframes moveBg {
    0% {
        background-position: 0% 30%;
    }

    100% {
        background-position: 100% 50%;
    }
}
