body {
   font-family: 'Oswald', sans-serif;
   font-size: 1.3rem;
   background: #f9f9f9;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: #333;
   text-decoration: none;
}

.container {
   margin: auto;
   max-width: 1100px;
   overflow: auto;
   padding: 0 2rem;
}

.main-header {
   height: 55vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 2rem;
}

.main-header h1 {
   font-size: 4rem;
   margin-bottom: 2rem;
   line-height: 1.2;
}

.main-header h1 span {
   color: #b50d10;
}

.main-header p {
   font-size: 2rem;
}

img {
   width: 100%;
}

.card {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2rem;
   background: #f1f1f1;
   margin-bottom: 2rem;
}

.card h3 {
   margin-bottom: 2rem;
}

.card img {
   height: 400px;
}

.card>div {
   padding: 2rem;
}

.card:nth-child(even) img {
   order: 2;
}

.btn {
   display: inline-block;
   background: #000;
   color: #fff;
   padding: 0.8rem 1.8rem;
   margin-top: 2rem;
   cursor: pointer;
}

.btn:hover {
   opacity: 0.8;
}

@media(max-width: 700px) {
   .card {
      display: block;
   }
}